.title {
  text-align: center;
  color: coral;
}
#board {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows: 180px 180px 180px;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}
#turn {
  text-align: center;
  color: gray;
  font-size: 30px;
}
#win {
  margin-top: 14px;
  text-align: center;
  color: gray;
  font-size: 30px;
}